<h1>
    Project: Speed Typing game
</h1>

<p>
    Went spelunking on a site that provides search results for APIs,
    and signed up for a couple only to realize the APIs either
    didn't have what I needed which is a client side key, or they had
    client side key but would charge for overages in usage. Then I did
    what I should have done to begin with which is google for what I'm
    looking for. Random word generator, or a free list of words to work
    off of. First link below is the site I used that returned search results
    for potentially useful APIs. The second link is ultimately the word
    list site I decided to use for my project. I'll be attempting to create
    this game in 3 languages, Python, JS, and C#. The goal is to showcase
    my knowledge base on Python, and JS while also learning a new language,
    C#. The 3rd link is my Trello board, and eventually I plan to hook up
    Trello with this blog so that I automatically either post stats from
    Trello, or auto post to this blog when I move cards to done.
    <ol>
      <li>
        <a href="https://www.programmableweb.com/api/">https://www.programmableweb.com/api</a>
      </li>
      <li>
        <a href="http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain">http://svnweb.freebsd.org/csrg/share/dict/words?view=co&content-type=text/plain</a>
      </li>
      <li>
        <a href="https://trello.com/b/HbQCHWIh/dayinalifeofadev">https://trello.com/b/HbQCHWIh/dayinalifeofadev</a>
      </li>
    </ol>
</p>